@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import '_vars';

html,
body {
  font-family: 'Open Sans', sans-serif;
}
.FedTest-app {
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 20px;
  justify-content: center;

  @media #{$medium-up} {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(50% - 20px));
  }
  @media #{$large-up} {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, calc(25% - 20px));
  }
}
