@import '_vars';

.FedTest-card {
  border: 1px solid $grey;
  padding: 20px 30px;
  display: grid;
  grid-template-rows: auto 1fr 60px;
  position: relative;
  @media #{$small-only} {
    margin-top: 20px;
  }
  &:hover {
    background-color: $lightGrey;
  }
  h3 {
    font-size: 25px;
  }
  .FedTest-arrow {
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    svg {
      fill: $primary;
    }
  }
  @media #{$large-up} {
    &:nth-child(2n + 4) {
      .FedTest-arrow {
        transform: rotate(90deg);
      }
    }
  }
}

.FedTest-card--featured {
  grid-row: 1;
  grid-column: 1 / span 2;
  background-image: linear-gradient(to bottom right, $primary, $secondary);
  color: $white;
  &:hover {
    background-image: linear-gradient(to bottom right, $secondary, $primary);
  }
  .FedTest-arrow {
    background-color: $black60;
    svg {
      fill: $white;
    }
  }
}
